body{
    background-color: #597859;
}
main{
    background-color: aliceblue;
    border: solid black;
    border-radius: 15px;
    margin: 5px 5px 5px -2px;
}
h1{
    color: aliceblue;
}
h2{
    font-weight: bold;
    font-size: 35px;
    color:#597859;
}
a{
    color:#597859;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
a.back{
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -10px;
}
p{
    font: aliceblue;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: left;
    padding: 15px;
    margin: -3px;
}
footer{
    background-color: aliceblue;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
}
img{
    float:right;
}
#nav-home {        
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 10px;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

#ul-home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#li-home {
    display: inline;
    padding: 8px;    
}

#p-open{
    color: aliceblue;
    font-style: italic;
}
#p-home{
    display: inline;
}
#h-about{
    background-color: lavender;
    border: 1px gold solid;
    border-radius: 10px;
    font-size: 50px;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
#main-about{
    background-color: lavender;
    border-radius: 1px;
    margin: -2px -2px -2px -2px;
}

#fig-about{
    background-color: lavender;
    padding: 1px;
}

#p-about{
    padding: 10px;
    margin: 0px;
}
#img-story{
    float:left;
    margin: 0px 0px 0px 10px;
    padding: 6px;
}
#img-story2{
    margin: 0px 0px 0px 600px;
}
#no{
    color: blue;
}
#main-story{
    background-color: aliceblue;
    border: solid black;
    border-radius: 15px;
    margin: 5px 5px 5px -2px;
    padding: 70px;
}
#p-story{
    padding: 50px;
}
p.characters{
    float:left;
}
aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}
div.x360{
    width: 100px;
    length: 100px;
}